Okay <%= name %>, you gave me <%= cents_received %> and I can turn that into <%= coins %> ...

<form>
  <input type="radio" name="goon" value="Yes" checked> Male<br>
  <input type="radio" name="goon" value="No"> Female<br>
</form>