Okay <%= name %>, would you like to exchange another amount for coins?

<form>
  <input type="radio" name="goon" value="Yes" checked> Yes<br>
  <input type="radio" name="goon" value="No"> No<br>
  <br><br>
  <input type="submit" value="Submit">
</form>