Okay <%= name %>, would you like to exchange another amount for coins?

<form>
  <input type="radio" name="goon" value="Yes" checked> Male<br>
  <input type="radio" name="goon" value="No"> Female<br>
</form>